<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/pics.css"/>
</head>
<body>
    <div ng-keydown="onKeyDown($event)"
         tabindex="0"
         class="mainView">
        <div class="imageGrid">
            <div ng-repeat="image in images" ng-animate="'fadeIn'" class="inline">
                <img src="data:image/{{image.Type}};base64,{{image.Data}}" class="previewImage"
                     ng-click="displayImage(image)"/>
            </div>
        </div>
        <div class="controls">
            <input type="button" class="button" value="Upload" ng-click="upload()">
        </div>
    </div>
    <div class="fullScreen" ng-class="{hidden: doDisplayImage == false || !shownImage, visibile: doDisplayImage == true}" ng-click="hideImage()" ng-animate>
        <img ng-class="{hidden: doDisplayImage == false || !shownImage, visibile: doDisplayImage == true}" src="data:image/{{shownImage.Type}};base64,{{shownImage.Data}}" class="fullScreen" ng-click="hideImage()" alt="{{shownImage.Description}}"/>
    </div>
</body>
</html>
