.fileSelectorButton {
    max-width: 50%
}

td.label {
    width: 100%;
}

.uploadLabel {
    z-index: -1;
    pointer-events: none;
}

td.input {
    width: 100%;
    top: 0;
    left: 0;
}

form {
    width: 40%;
}

form>input[type="submit"]:invalid {
}