html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../img/background2_tile.jpg);
    background-position: top;
    background-size: auto;
    background-repeat: repeat;
    color: #FFFFFF;
    font-family: "Courier New", Courier, monospace;
    padding: 0;
    height: inherit;
}

.navBar {
    margin: 0 0 0 0;
    padding: 16px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    height: 6%
}

.navBarBtnContainer {
    float: left;
}

.button {
    cursor: default !important;
    display: inline-block;
    margin: 0 1px;
    border-radius: 2px;
    padding: 2px 20px;
    background: #777777;
    border: 0;
    border-color: #333333; 
    color: #FFFFFF;
    height=64px;
}

.button.navBtn {
    font-size: 1.5em;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.navBtn:hover,
.navBtn:focus{
    outline: none;
    transform: none;
    background: #888888;
    border: none;
}

.navBtn.active {
    background: #AAAAAA;
}
.navBtn.active:hover,
.navBtn.active:focus {
    outline: none;
    background: #BBBBBB;
}

.viewContainer {
    margin: 0;
    padding: 0;
}

.viewBackground {
    background: rgba(64,64,64,0.5);
    height: 94%;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0 16px;
}

.viewContainer.ng-enter {
    transition-delay: 0.25s;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    opacity: 0;
}

.viewContainer.ng-enter.ng-enter-active {
    opacity: 1;
}

.viewContainer.ng-leave {
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    opacity: 1;
}

.viewContainer.ng-leave.ng-leave-active {
    opacity: 0;
}

.textBlock {
    white-space: pre-line
}

.singleLineInput {
    margin: 16px 0;
    padding: 2px;
    border-style: none;
    background-color: rgba(64,64,64,0.5);
    color: white;
}

.uploadForm {
    float: left;
    display: inline-block;
}

div.imageGrid {
    float: left;
    display: inline-block;
}

img.previewImage {
    width: 10%;
    height: 10%;
    margin: 4px;
    float: left;
}