body {
    background: #666666;
    color: #FFFFFF;
    font-family: Arial, Sans;
}

.navBar {
    padding: 4px;
    border-top: 0;
    border-color: WHITE;
    margin: auto;
    float: left;
}

.navBtn {
    margin: 8px 0;
    padding: 2px 20px;
    border-radius: 10px 0px;
    background: #333333;
    color: #ffffff;
    border-color: #888888;
    font-size: 1.5em;
    float: left;
}

.viewContainer {
    margin: auto;
    float: left;
    padding: 5px;
}