body {
    background: #666666;
    background-image: url(../img/background.jpg);
    background-size: cover;
    color: #FFFFFF;
    font-family: Arial, Sans;
    padding: 0;
}

.navBar {
    margin: 0 0 0 0;
    padding: 16px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 5px
}

.navBarBtnContainer {
    float: left;
}

.button {
    cursor: default !important;
    display: inline-block;
    margin: 0 1px;
    border-radius: 2px;
    padding: 2px 20px;
    background: #777777;
    border: 0;
    border-color: #333333; 
    color: #FFFFFF;
    font-size: 1.5em;
}

.button.navBtn {
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.navBtn:hover,
.navBtn:focus{
    outline: none;
    transform: none;
    background: #888888;
    border: none;
}

.navBtn.active {
    background: #AAAAAA;
}
.navBtn.active:hover,
.navBtn.active:focus {
    outline: none;
    background: #BBBBBB;
}

.viewContainer {
    margin: auto;
    float: left;
    display: inline-block;
    padding: 5px;
    margin: 0 16px;
}

.viewContainer.ng-enter {
    transition-delay: 0.25s;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    opacity: 0;
}

.viewContainer.ng-enter.ng-enter-active {
    opacity: 1;
}

.viewContainer.ng-leave {
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    opacity: 1;
}

.viewContainer.ng-leave.ng-leave-active {
    opacity: 0;
}